body {
  background: white; }

.header-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  padding: 10px 0;
  justify-content: flex-start;
  align-items: center; }
  .header-container a {
    margin: 0 20px;
    font-family: robotoregular;
    font-size: 16px; }

select {
  border-radius: 5px;
  outline: none;
  font-family: robotolight;
  font-size: 16px; }

select:hover {
  cursor: pointer; }

.vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .vote-container span {
    font-family: robotobold;
    color: gray;
    font-size: 14px; }
  .vote-container .vote-button, .vote-container .upvote, .vote-container .downvote {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    outline: none; }
  .vote-container .upvote {
    background: url(../../img/arrow-up.png) no-repeat; }
  .vote-container .downvote {
    background: url(../../img/arrow-down.png) no-repeat; }

.post-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0; }
  .post-container .post-content {
    display: flex;
    flex-direction: column;
    margin-left: 5px; }
    .post-container .post-content h3, .post-container .post-content p {
      margin: 0; }
    .post-container .post-content h3 {
      font-family: robotobold; }
    .post-container .post-content p {
      font-family: robotolight;
      font-size: 14px; }
    .post-container .post-content a {
      margin: 5px 10px 0 0;
      font-family: robotoregular;
      font-size: 12px; }

.single-comment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0; }
  .single-comment-container .single-comment-content {
    display: flex;
    flex-direction: column;
    margin-left: 15px; }
    .single-comment-container .single-comment-content p {
      margin: 0; }
    .single-comment-container .single-comment-content .button-container {
      display: flex;
      flex-direction: row;
      margin-top: 10px; }
      .single-comment-container .single-comment-content .button-container button {
        margin: 0 5px; }
    .single-comment-container .single-comment-content .comment-info span {
      font-family: robotobold; }
    .single-comment-container .single-comment-content .comment-info p {
      font-family: robotolight; }

@font-face {
  font-family: 'robotoregular';
  src: url("../../fonts/Roboto-Regular-webfont.eot");
  src: url("../../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotobold';
  src: url("../../fonts/Roboto-Bold-webfont.eot");
  src: url("../../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotolight';
  src: url("../../fonts/roboto.light-webfont.eot");
  src: url("../../fonts/roboto.light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto.light-webfont.woff2") format("woff2"), url("../../fonts/roboto.light-webfont.woff") format("woff"), url("../../fonts/roboto.light-webfont.ttf") format("truetype"), url("../../fonts/roboto.light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }
.new-post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px; }
  .new-post-container .error-message {
    color: #dd2c01;
    margin-top: 5px; }
  .new-post-container label {
    font-family: robotobold;
    font-size: 18px; }
  .new-post-container input[type="text"], .new-post-container textarea {
    width: 400px;
    outline: none;
    border: 1px solid #65acff;
    border-radius: 4px;
    padding: 0;
    font-family: robotolight;
    font-size: 16px; }
  .new-post-container .blue-button {
    width: 160px;
    height: 30px; }

.home-container ul {
  padding-left: 0; }
.home-container .order-container {
  margin-top: 15px;
  font-family: robotolight;
  font-size: 16px; }
  .home-container .order-container input[type="radio"] {
    cursor: pointer; }

.red-button {
  background: rgba(249, 129, 108, 0.8);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: robotobold;
  font-size: 12px;
  color: #1B1017; }

.red-button:hover {
  background: rgba(249, 129, 108, 0.5); }

.red-button:active {
  background: #F9816C; }

.blue-button {
  border-radius: 5px;
  outline: none;
  background: rgba(228, 242, 251, 0.5);
  cursor: pointer;
  border: 1px solid #5F99CF;
  font-family: robotobold; }

.blue-button:hover {
  background: rgba(228, 242, 251, 0.8); }

.blue-button:active {
  background-color: #e4f2fb; }

/*# sourceMappingURL=index.css.map */
