@import "App";
@import "Header";
@import "Category";
@import "Vote";
@import "Post";
@import "SingleComment";
@import "NewPost";
@import "Home";

.red-button {
  background: rgba(249, 129, 108, 0.8);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: robotobold;
  font-size: 12px;
  color: #1B1017;
}
.red-button:hover {
  background: rgba(249, 129, 108, 0.5);
}

.red-button:active {
  background: #F9816C;
}

.blue-button {
  border-radius: 5px;
  outline: none;
  background: rgba(228, 242, 251, 0.5);
  cursor: pointer;
  border: 1px solid #5F99CF;
  font-family: robotobold;
}

.blue-button:hover {
  background: rgba(228, 242, 251, 0.8);
}

.blue-button:active {
  background-color: rgba(228, 242, 251, 1);
}


