@import "fonts";

.new-post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;

  .error-message {
    color: rgb(221,44, 0.9);
    margin-top: 5px;
  }

  label {
    font-family: robotobold;
    font-size: 18px;
  }

  input[type="text"], textarea {
    width: 400px;
    outline: none;
    border: 1px solid #65acff;
    border-radius: 4px;
    padding: 0;
    font-family: robotolight;
    font-size: 16px;
  }

  input[type="button"]{
    width: 120px;
    border-radius: 5px;
    outline: none;
    background: #E4F2FB;
    height: 30px;
    cursor: pointer;
    border: 1px solid #5F99CF;
    font-family: robotobold;
  }

  input[type="button"]:active {
    background-color: #cee3f8;
  }
}